*
{
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
body
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: #708090; /*SlateGray*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	padding: 1rem;
}
.container
{
	width: calc(400px - 1rem);
	background: rgba(255,255,255,0.1);
	color: #fff;
	padding: 16px;
	border-radius: 10px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}
.container h2
{
	font-weight: 400;
	font-size: 1.5rem;
	text-align: center;
}
.container .form
{
	position: relative;
	width: 100%;
	margin: 2rem 0;
}
.container .form input
{
	width: 100%;
	background: #5f9ea0;
	border: none;
	outline: none;
	padding: 15px 145px 15px 12px;
	border-radius: 10px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	font-size: 1.2rem;
}
.container .form button
{
	position: absolute;
	padding: 12px;
	border-radius: 10px;
	font-size: 1.2rem;
	color: #fff;
	border: none;
	outline: none;
	background: rgba(255,255,255,0.1);
	right: 3px;
	top: 3px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	cursor: pointer;
}
.container .name-box
{
	position: relative;
	background: #5f9ea0;
	border-radius: 10px;
	padding: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}
.container .name-box span
{
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: capitalize;
}
